

.item {
    margin-top: 15px;
}

.img1 {
    height: 40px;
    width: 40px;
    float: right;
    margin-right: 60px;
}

.item2 {
    margin-top: 10px;
    /* margin-right: 10px; */
    padding-left: 140px;
} 

.item5 {
    border-radius: 40px;
    font-weight: 600;
    font-size: 14px;
}
.item6 img {
    height: 30px;
    margin-left: 60px;
}

.item7 {
    margin-bottom: 30px;
}

.item8 {
    box-shadow: 5px 5px 5px #aaa;
    height: 50px;
}